description "Flask app"
start on (net-device-up and local-filesystems and runlevel [2345])
stop on runlevel [016]
env FLASK_SETTINGS=config/{{ APP_CONFIG }}
exec python {{ start_script }} 2> {{ log }}
respawn
respawn limit 15 5
