description "Flaskr"
start on (net-device-up and local-filesystems and runlevel [2345])
stop on runlevel [016]
env FLASKR_SETTINGS=config/{{ FLASKR_CONFIG }}
exec python {{ flaskr_start_script }} 2> {{ flaskr_log }}
respawn
respawn limit 15 5
